{% extends "layout.twig" %}

{% block content %}

<div class="text-center">
    <img src="/images/404.jpg" alt="">
    <div>
        Страница не найдена! Попробуйте снова..
    </div>
</div>

{% endblock %}