{% extends "object.twig" %}
{% block objectContent %}

  <p class="text">
&nbsp;&nbsp;&nbsp;<strong>Домашняя кошка</strong> - социальное животное, обладающее развитым интеллектом и способностями к общению, умеющее испытывать и выражать сложные чувства и эмоции. Относится к семейству Кошачьих, представляя собой одомашненный подвид лесных котов.<br>
&nbsp;&nbsp;&nbsp;Размеры тела котов и кошек, в среднем, составляют около 30-60 см в длину и 20-30 см в высоту. Вес животных при этом колеблется в районе 3-7 кг. Однако, самые крупные представители домашних кошачьих размерами тела превышают метровую отметку, а масса их с лёгкостью превышает 10 кг.

&nbsp;&nbsp;&nbsp;Окрас кошек отличается огромнейшим разнообразием, включая более сотни цветов и оттенков. Более того, окрас шерсти домашних любимцев может быть смешанным, а может включать выделяющиеся цветом узоры. Поэтому найти двух абсолютно схожих по окрасу животных крайне сложно, хоть и в самой малости, но они будут различаться.<br>
Кошки являются плотоядными животными, представляя собой мелких хищников. Могут они при этом питаться и растительной пищей, но без мяса всё равно обойтись не способны. Основу их рациона в дикой природе составляют мелкие млекопитающие (особенно грызуны), амфибии, земноводные, рыбы, птицы и насекомые.<br> 

&nbsp;&nbsp;&nbsp;Интересно, что большую часть суток кошки спят, обычно от 12 до 16 часов в день. Некоторые породы могут проводить в сонном состоянии до 20 часов, а мелкие котята и вовсе спят до 23 часов в сутки. Оставшееся время животные тратят на поиск и приём пищи, уход за собой, игры и развлечения.
Ложась на спину, кошки показывают своё доверие к человеку. А поднимая хвост кверху - свою любовь. Если же питомец машет хвостом, это означает сомнение, затруднение в выборе. Мяукают они только людям, привлекая внимание человека. А своё удовольствие выражают мурчанием или растопыренными пальцами. Свой страх животные демонстрируют вздыбленной шерстью и прижатыми ушами. Впрочем, даже одинаковые жесты не всегда несут один и тот же смысл, тем более у разных представителей кошачьих.<br>

&nbsp;&nbsp;&nbsp;<strong>Факты о кошках</strong><br>
&nbsp;&nbsp;&nbsp;1. Кошки являются самыми распространёнными домашними питомцами в мире, заполучив всеобщую любовь благодаря своему ярко выраженному социальному поведению.<br>

&nbsp;&nbsp;&nbsp;2. Одомашненные кошачьи приносят огромную пользу людям, истребляя и отпугивая грызунов (мышей и крыс, в основном). К слову, если они не могут поймать добычу, то начинают стучать зубами, выказывая своё недовольство и раздражение.<br>

&nbsp;&nbsp;&nbsp;3. Кошачьи когти немного загнуты, поэтому животное запросто может взбираться на различные поверхности. А вот спускаться с них кошкам сложно. Зато они запросто могут спрыгнуть, выжив даже после падения с высоты 30-40 метров.<br>

&nbsp;&nbsp;&nbsp;4. Живут кошки в 4-5 раз меньше людей, около 15-20 лет, а рекордная продолжительность жизни у них составляет 39 лет.
  </p>

{% endblock %}