{% extends "object.twig" %}
{% block objectContent %}

<p class="text">
&nbsp;&nbsp;&nbsp;<strong>Домашняя собаки</strong> - животные, одни из самых популярных и распространённых питомцев в мире. Относятся к семейству Псовых, представляя собой одомашненный подвид волков.<br>
    
&nbsp;&nbsp;&nbsp;Размеры собак сильно разнятся, что во многом зависит от породы домашнего питомца. В среднем, длина тела собаки составляет 70-100 см, а рост в холке около 40-50 см (рост в макушке 60-80 см), при этом масса тела достигает 15-40 кг.<br>

&nbsp;&nbsp;&nbsp;Некоторые породы собак являются совсем уж крохотными, могут поместиться на ладони (Чихуахуа, Померанский шпиц, Йоркширский терьер). В то время как крупнейшие представители собачьего племени размерами тела сопоставимы с людьми (Английский мастиф, Немецкий дог, Сенбернар). При длине тела более 2 метров и росте в холке более 1 метра, они могут обладать массой более 100 кг.<br>

&nbsp;&nbsp;&nbsp;Окрас собак (масть) обычно состоит из белого, рыжего или чёрного цветов, а также множества их оттенков. При этом окрас животных может быть одноцветным, а может сочетать сразу два или три цвета. Именно этим объясняется огромнейшее разнообразие окрасок друзей наших меньших.<br>

&nbsp;&nbsp;&nbsp;<strong>Повадки собак</strong><br>
&nbsp;&nbsp;&nbsp;С уверенностью можно утверждать, что собаки являются хищниками. Им необходима пища животного происхождения, хотя и растительной пищей они способны питаться (но она хуже усваивается). Кроме того, строение их тел и физиология также указывают на соответствие хищным животным, равно как и повадки.<br>

&nbsp;&nbsp;&nbsp;В дикой природе собаки являются охотниками, зачастую стайными. Именно здесь чётко прослеживается их связь с волками, подвидом которых они и являются. Впрочем, во многом поведение собаки зависит от её породы. Существуют агрессивные (бойцовские) породы, сторожевые (охранные) породы, охотничьи и пастушьи, домашние (комнатные) и многие другие. Всего пород этих животных около полутысячи, и все обладают какими-то уникальными особенностями.<br>

&nbsp;&nbsp;&nbsp;Большую часть суток собаки обычно спят, около 14-18 часов в день. Оставшееся время они используют на поиск и приём пищи, игры и развлечения, социальное взаимодействие.<br>

&nbsp;&nbsp;&nbsp;<strong>Факты о собаках</strong><br>
&nbsp;&nbsp;&nbsp;1. Собаки обладают развитым интеллектом и умеют общаться, причём не только между собой, но и с людьми, они нас понимают (но не все и не всегда). Они являются социальными животными, способными испытывать сложные эмоции и чувства, и умеющими их выражать.<br>

&nbsp;&nbsp;&nbsp;2. Удивительно, но собаки способны определять эмоции и чувства людей всего по одному взгляду. Они мгновенно оценивают ситуацию и ведут себя соответствующим образом, и зависит их поведение от испытываемых к этому человеку чувств. Интересно, что умеют они улыбаться и смеяться.<br>

&nbsp;&nbsp;&nbsp;3. Собаки обладают одним из самых развитых обоняний в мире, они чувствуют запахи в сто тысяч раз лучше людей. Также они обладают отличным слухом, способны различать ультразвук. К слову, именно благодаря этим своим особенностям животные могут прогнозировать погоду и ощущать приближение стихийных бедствий.<br>

&nbsp;&nbsp;&nbsp;4. А вот острым зрением собаки похвастаться не могут, наоборот, у них зрение является очень плохим. Более того, они вообще не различают цвета, являются дальтониками. А ещё можно вспомнить, что в течение первого месяца щенки являются слепыми, информацию о мире они получают благодаря развитому осязанию.
  </p>

{% endblock %}