{% extends "layout.twig" %}

{% block content %}
	{% block mainContent %}
		<div class="container">
			<div class="row">
				{% for object in animals_obj %}
					{% include '_main.twig' %}
				{% endfor %}
			</div>
		</div>
	{% endblock %}
{% endblock %}
