{% extends "layout.twig" %}
{% block content %}

<ul class="list-group mt-2 list-group-flush">
  <li class="list-group-item mt-1"> 
      <a class="btn {{ is_image ?  "btn-primary" : "btn-link" }}" href="{{url_image}}">Картинка</a>
      <a class="btn {{ is_info ?  "btn-primary" : "btn-link" }}" href="{{url_info}}">Информация</a>
      <p>
  </li>
  
  {% block objectContent %}
  <div class="container" style="font-size: 1em; border: 1px solid silver; text-align: center; margin-right: 10px; margin-left: 10px; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    Выберите, что Вы хотите посмотреть ))
  </div>
  {% endblock %}

 <style>
    .thumb img  {
      border: 2px solid grey; 
      margin-right: 10px; 
      margin-bottom: 10px;
      width: 545px; 
      height: 400px;
    }
    .text {
      font-size: 1em;
      text-align: left;
      border: 1px solid silver;
      padding: auto;
      margin-right: 10px;
      margin-left: 10px;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
 </style>

{% endblock %}