{% extends "layout.twig" %}
{% import "macros.twig" as macros %}
{% from "macros.twig" import btn %}

{% block content %}
<div class="mt-2 list-group-flush">
	<div class=" mt-1">
		<a class="nav-link" href="/animals_obj/{{object.id}}"  style="font-weight: bolder; text-align: center; font-size: 2em; color:black">{{ object.title }}</a>
		<a>{{ macros.btn('Картинка', "/animals_obj/" ~ object.id ~ "/?show=image", chose == "image") }}</a>
		<a>{{ macros.btn('Описание', "/animals_obj/" ~ object.id ~ "/?show=info", chose == "info") }}</a>
	</div>
</div>

{% block objectContents %}{% endblock %}
{% endblock %}